<%
  url = 'http://asb.studentibicocca.it/avvisi/avvisi.php?artc='
%>
<ul class="announcement">
  <% Announcement.latest(5).each do |i| %>
  <li><%=link_to strip_tags(i.title), url + i.id.to_s %></li>
  <% end %>
</ul>
