<%= 
  update_page_tag do |p|
  p.show 'draft_saved'
  end
%>
<% if @draft.errors.empty? %>
Bozza salvata alle <%=timestamp_to_time(@draft.timestamp, :seconds => true)%>
<% else %>
<span class="alert">Bozza non salvata!</span>
<% end %>
