<%
  count = Pm.unread_for(@user)
  msg   = "hai 1 messaggio privato non letto" if count == 1
  msg   = "hai #{count} messaggi privati non letti" if count > 1
%><% if msg
%>, <%=link_to msg, '/portale/forum/usercp.php?action=u2u'%><%end%>
