<% bw = 1 %>
<% ts = 6 %>
<% flip = 0 unless flip %>
<%= javascript_include_tag :defaults %>
<div id="navbar_top">
  <div class="page_links"><%=page_seq @pageseq_opts%></div>
</div>
<div id="pms">
  <ul id="pm_list">
    <% @pms.each do |pm| %>
    <%=render :partial => 'pm', :locals => { :pm => pm, :flip => flip }%>
    <% flip = 1 - flip %>
    <% end %>
  </ul>
</div>
<div id="navbar_bottom">
  <div class="page_links"><%=page_seq @pageseq_opts%></div>
</div>
