<% flip = 0 unless flip %>
<% @page_title = "Bozze di #{h(@user.username)}" %>
<%= javascript_include_tag :defaults %>
<div id="navbar_top">
  <%=page_trail%><br/>
  <%=page_seq%>
</div>
<div id="drafts">
  <table id="draft_list">
    <% @drafts.each do |dr| %>
    <%=render :partial => 'draft', :locals => { :draft => dr, :flip => flip }%>
    <% flip = 1 - flip %>
    <% end %>
  </table>
</div>
<div id="navbar_bottom">
  <%=page_trail%><br/>
  <%=page_seq%>
</div>
