<%# vim: set ft=eruby nowrap: -%>
  <h4>
    <%=link_to cleanup(blog.name), blog_view_path(blog.user.username, blog.slug)%>
  </h4>
  <div class="description">
    <%=text_to_html(blog.description)%>
  </div>
  <%if @user == @blog_user%>
  <div class="operations">
  <%=link_to_remote 'mod',
    :update => domid(blog),
    :url    => edit_blog_path(blog),
    :method => :get,
    :html   => { :class => 'edit' }%>
  <%=link_to_remote 'del',
    :update  => domid(blog),
    :url     => blog_path(blog),
    :method  => :delete,
    :confirm => "Vuoi veramente cancellare questo blog?",
    :html    => { :class => 'delete' }%>
  </div>
  <%end%>
