  <table>
    <tr>
      <td align="right">Titolo</td>
      <td><%=text_field 'musicdb_album', 'title'%></td>
    </tr>
    <tr>
      <td align="right">Autore</td>
      <td><%=text_field 'musicdb_album', 'author'%></td>
    </tr>
    <tr>
      <td align="right">Casa editrice</td>
      <td><%=text_field 'musicdb_album', 'publisher'%></td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <table>
          <tr>
            <td>
              <%=submit_tag 'Salva'%>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
