<div id="mdb_albums">
  <div class="mdb_albums_header">Nuovo album</div>
  <br/>
  <%=start_form_tag :action => 'create'%>
  <%=render :partial => 'form'%>
  <%=end_form_tag%>
  <p>
    <%=link_to 'torna alla lista', :action => :list %>
  </p>
</div>
