<%=render :partial => 'header'%>
<div id="file_search">
  <div id="search_form">
    <h2>Ricerca</h2>
    <%=form_tag({:action => 'search'}, {:method => 'get'})%>
      <%=text_field_tag 'file'%>
      <%=submit_tag 'Cerca'%>
    </form>
  </div>
</div>
