.topic[@topic]
  .title
    %h1= cleanup(@topic.title)
  %ul.posts
    -@posts.each do |post|
      %li.post[post]
        %a(name="#{domid(post)}")
        -if post == @posts.try(:last)
          %a(name="last_post")
        =render :partial => '/posts/post', :locals => { :post => post, :can_post => @topic.can_post?(@user), :can_moderate => @topic.can_moderate?(@user) }
