<%n           = 5     unless n%>
<%include_sub = false unless include_sub%>
<%topics = Forum.latest_topics(id, n, :include_sub => include_sub)%>
<%unless topics.empty?%>
  <ul class="latest_topics">
  <%topics.each do |t|%>
    <li><%
        url  = topic_path(t.actual)
        last = topic_path(t.actual, :page => 'last', :anchor => 'last_post')
      %>
      <div class="topic"><%=link_to cleanup(t.subject), url%></div>
      <div class="lastposter">
        <%=link_to h(t.lastpost(:username)), last%>
      </div>
    </li>
  <%end%>
  </ul>
<%end%>
