<% n           = 5     unless n %>
<% include_sub = false unless include_sub %>
<% topics = Forum.latest_topics(id, n, :include_sub => include_sub) %>
<% unless topics.empty? %>
  <ul class="latest_topics">
  <% topics.each do |t| %>
    <li>
      <div class="lastposter"><%=h t.lastpost(:username)%></div>
      <%=link_to h(truncate(strip_tags(t.subject), 40)),
	"/portale/forum/viewthread.php?tid=#{t.actual.id}"%>
    </li>
  <% end %>
  </ul>
<% end %>
