<% n = 5 unless n %>
<ul class="latest_topics">
<% Forum.latest_topics(id, n).each do |t| %>
  <li><%=link_to truncate(strip_tags(t.subject), 40), 
    "/portale/forum/viewthread.php?tid=#{t.id}" %></li>
<% end %>
</ul>
