<% bw = 1 %>
<% ts = 6 %>
<div id="forum_map">
  <div class="navbar">
    <ul>
      <%= render :partial => '/forum/map', 
                 :locals  => { :tree     => Forum.tree,
                               :depth    => 0,
                               :maxdepth => 10 } %>
    </ul>
  </div>
</div>

