<% @page_title = cleanup(@forum.name) %>
<%=javascript_include_tag :defaults%>
<div id="navbar_top"><%#{{{%>
  <%=page_trail%>
  <%=page_seq%>
  <%=link_topic_new%>
</div><%#}}}%>
<div id="forums"><%#{{{%>
  <%=render :partial => 'forum_list' unless @forum.children.empty?%>
</div><%#}}}%>
<div id="topics"><%#{{{%>
  <%=render :partial => 'topic_list' unless @topics.empty?%>
</div><%#}}}%>
<div id="navbar_bottom"><%#{{{%>
  <%=page_trail%>
  <%=page_seq%>
  <%=link_topic_new%>
</div><%#}}}%>
