html, body {
  color: #000000;
  background-color: #6080ff;
  font-size: 13px;
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.header {
  background: url(http://img254.imageshack.us/img254/8053/titlegradientod3.png);
  background-color: yellow;
  background-repeat: repeat-x;
  margin: 0 0 1em 0;
  clear: both;
  overflow: auto; }
  .header h1 {
    float: left;
    margin-left: 1em;
    font-family: "Trebuchet MS", sans-serif; }
  .header .nav {
    clear: both;
    text-align: center;
    overflow: auto;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    background-color: #303030;
    padding: 0.3em 1em 0.3em 1em;
    border-top: 4px solid #181818;
    border-bottom: 4px solid #181818;
    margin: 0; }
    .header .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: auto;
      margin-right: auto; }
      .header .nav ul li {
        display: inline;
        border: 2px solid #383838;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px; }
        .header .nav ul li a {
          padding: 0.2em 1em;
          margin-left: 1em;
          margin-right: 1em;
          color: yellow;
          text-decoration: none; }
        .header .nav ul li:hover {
          background-color: #383838; }

#login_box {
  width: 20em;
  background-color: white;
  padding: 0.5em;
  border: 1px solid #404040;
  margin: 0.5em;
  float: right;
  font-size: 11px; }
  #login_box ul {
    padding-left: 1.5em;
    margin: 0;
    list-style-type: disc; }
  #login_box div.login {
    text-align: right;
    padding: 0.5em; }

div#login_box input {
  font-size: 11px; }

#login_box div.label {
  float: left;
  text-align: right;
  width: 6em;
  padding-right: 0.5em; }
#login_box div.buttons {
  margin-top: 0.5em;
  text-align: right; }
  #login_box div.buttons a {
    background-color: white;
    padding-left: .5em;
    padding-right: .5em;
    border: 1px solid black;
    color: black;
    line-height: 1.8em;
    text-decoration: none; }
    #login_box div.buttons a:hover {
      background-color: yellow;
      text-decoration: none; }
#login_box div.user_register {
  float: left; }
#login_box .fb_connect .label {
  width: 110px;
  display: block;
  float: left; }

.main_body {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  margin-bottom: 0.5em;
  clear: both; }

.welcome .header h1 {
  background: url(http://www.studentibicocca.it/portale/immagini/header_stubi.png);
  width: 620px;
  height: 108px;
  text-indent: -10000px; }
.welcome .main_body {
  overflow: visible; }
  .welcome .main_body .primary {
    float: left;
    width: 60%;
    overflow: visible; }
    .welcome .main_body .primary .content ul.modules {
      list-style: none;
      padding: 0 0 2em 0; }
      .welcome .main_body .primary .content ul.modules li.module {
        background-color: white;
        padding: 0;
        margin: 0.7em 0.35em 0.7em 0.7em;
        border: 2px solid black; }
        .welcome .main_body .primary .content ul.modules li.module h3 {
          margin: 0;
          background-color: #4060a0;
          color: white;
          padding: 0.3em; }
          .welcome .main_body .primary .content ul.modules li.module h3 a {
            color: white; }
        .welcome .main_body .primary .content ul.modules li.module .forum ul.topics li {
          margin-bottom: 0.5em; }
        .welcome .main_body .primary .content ul.modules li.module .forum ul.topics a.title {
          display: block; }
        .welcome .main_body .primary .content ul.modules li.module .forum ul.topics span.last_post {
          font-size: 85%; }
          .welcome .main_body .primary .content ul.modules li.module .forum ul.topics span.last_post span.label {
            color: gray; }
      .welcome .main_body .primary .content ul.modules ul.topics {
        list-style: none;
        padding: 0.7em; }
  .welcome .main_body .secondary {
    float: right;
    width: 40%;
    overflow: visible; }
    .welcome .main_body .secondary .content ul.modules {
      list-style: none;
      padding: 0 0 2em 0; }
      .welcome .main_body .secondary .content ul.modules li.module {
        background-color: white;
        padding: 0;
        margin: 0.7em 0.7em 0.7em 0.35em;
        border: 2px solid black; }
        .welcome .main_body .secondary .content ul.modules li.module h3 {
          margin: 0;
          background-color: #4060a0;
          color: white;
          padding: 0.3em; }
          .welcome .main_body .secondary .content ul.modules li.module h3 a {
            color: white; }
        .welcome .main_body .secondary .content ul.modules li.module .forum ul.topics li {
          margin-bottom: 0.5em; }
        .welcome .main_body .secondary .content ul.modules li.module .forum ul.topics a.title {
          display: block; }
        .welcome .main_body .secondary .content ul.modules li.module .forum ul.topics span.last_post {
          font-size: 85%; }
          .welcome .main_body .secondary .content ul.modules li.module .forum ul.topics span.last_post span.label {
            color: gray; }
      .welcome .main_body .secondary .content ul.modules ul.topics {
        list-style: none;
        padding: 0.7em; }

.footer {
  clear: both;
  overflow: auto;
  color: white;
  background-color: #303030;
  padding: 0.5em 1em 0.5em 1em;
  border-top: 4px solid #181818;
  margin: 1em 0 0 0; }
  .footer a {
    color: yellow; }
