-# username / reg_date / status / online / email / www / aim / icq / yahoo / msn / location / birthday / bio / pm / search
.profile
  %ul.profile
    =editable_profile_field(@shown_user, :username, :label => "Nome utente:", :can_edit => [ :adm ])
    =editable_profile_field(@shown_user, :created_at, :label => "Registrato il:", :value => Time.at(@shown_user.created_at).strftime("%d/%m/%Y"), :can_edit => [])
    =editable_profile_field(@shown_user, :status, :label => "Status:", :value => status_list(@shown_user), :can_edit => [])
    =editable_profile_field(@shown_user, :online, :label => "Online:", :value => @shown_user.online? ? 'sì' : 'no', :can_edit => [])
    =editable_profile_field(@shown_user, :location, :label => "Corso di laurea:")
    =editable_profile_field(@shown_user, :website, :label => "Sito web:", :value => link_to(@shown_user.website, @shown_user.website, :target => '_blank'))
    =editable_profile_field(@shown_user, :email, :label => "e-mail", :can_see => [ :self, :mod ])
    =editable_profile_field(@shown_user, :msn, :label => "MSN:")
    =editable_profile_field(@shown_user, :icq, :label => "ICQ:")
    =editable_profile_field(@shown_user, :yahoo, :label => "Yahoo:")
    =editable_profile_field(@shown_user, :bio, :label => "Bio:", :type => :text_area)
    =editable_profile_field(@shown_user, :signature, :label => "Firma:", :type => :text_area)
    =editable_profile_field(@shown_user, :postnum, :label => "Messaggi inviati:", :value => "#{@shown_user.postnum} (#{"%0.2f" % @shown_user.posts_per_day} / giorno)", :can_edit => [])
