<div id="signup">
  <h3>Registrazione nuovo utente</h3>
  <div class="text">
    <div class="ok">
      <strong>Registrazione avvenuta con successo!</strong>
      <p>
        Entro breve riceverai un e-mail all'indirizzo <strong><%=@new_user.email%></strong>
        con la password per accedere al sito.
      </p>
    </div>
  </div>
</div>

