#fbconnect
  .title
    %h1 Accesso con Facebook
  -if @user
    .redirect
  -else
    .login
      %p.message
        Hai richiesto l'accesso con Facebook ma non abbiamo trovato la tua
        utenza.
      .register
        %p Se sei un nuovo utente, puoi registrarti ora con un solo click:
        .form
          -form_for @new_user do |f|
            =f.hidden_field :fbid
            .username
              %span.label nome utente:
              =f.text_field :username
              =f.submit 'crea nuovo utente'
            %p.note
              Il nome che scegli comparirà nei tuoi messaggi pubblici e privati.
              Potrai aggiungere altre informazioni al tuo profilo una volta
              completata la registrazione.
            .rules
              %p La tua iscrizione implica l'accettazione del regolamento qui di seguito:
              .rules_scroller
                .rules_text
                  =@rules
      .alternative
        oppure
      .connect
        %p
          Se sei un utente già registrato, puoi collegare il tuo accesso a quello
          di Facebook. Per questo sarà necessario autenticarti:
        .form
          -form_for :existing_user, :url => fblink_users_path do |f|
            =f.hidden_field :fbid, :value => @fb_user.id
            .username
              %span.label nome utente:
              =f.text_field :username
            .password
              %span.label password:
              =f.password_field :password
              =f.submit 'collega utenza'
