<div id="signup">
<%if @rules%>
  <h1>Registrazione nuovo utente - regolamento</h1>
  <div id="rules">
    <%=@rules%>
  </div>
  <div id="rules-accept">
    <%=button_to 'Accetta', new_user_path%>
  </div>
<%else%>
  <h1>Registrazione nuovo utente</h1>
  <%form_for @new_user do |f|%>
    <%=render :partial => '/common/user_data', :locals => { :f => f, :new_user => true }%>
    <div class="submit">
      <%=f.submit 'Registrati'%>
    </div>
  <%end%>
<%end%>
</div>
