<div id="password_recovery">
  <h3>Recupero password</h3>
  <%form_for @new_user, :url => { :action => :send_password } do |f|%>
    <fieldset id="user-required">
      <legend>Dati richiesti</legend>
      <dl>
        <dt>e-mail:</dt>
        <dd><%=f.text_field :email%></dd>
      </dl>
    </fieldset>
    <div class="submit">
      <%=f.submit 'Invia password'%>
    </div>
  <%end%>
  <%if @status == :success%>
  <div class="ok">
    Username e password sono stati inviati all'indirizzo <%=@email%>.
  </div>
  <%elsif @status == :failure%>
  <div class="errors">
    Non è stato trovato alcun utente con l'indirizzo <%=@email%>.
  </div>
  <%end%>
</div>
