/*
 * Default ShackBoard Stylesheet
 *
 * last revision: 2006 11 04
 *
 */

/*
 * Color Scheme:
 *   Base:  #______
 *   Coord: #______
 */

body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 62.5%; /* Resets 1em to 10px */

	background: #cccccc;

	margin: 0;
	padding: 0; /* Opera fix */
}

/******************************************************************************************
 * Previous (lux) Stylesheet
 */
  body { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    background-color: #99ccff;
    color: #000000;
  } /* }}} */
/* navigation bars {{{ */
  #mainbar { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  #navbar_top { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  #navbar_bottom { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
  } /* }}} */
  #forum_map { /* {{{ */
    margin-left: 20px;
    margin-right: 20px;
  } /* }}} */
  .loginbox { /* {{{ */
    font-size: 10px
  } /* }}} */
  .navbar_trail { /* {{{ */
    float: right;
    font-size: 10px
  } /* }}} */
  .navbar_options { /* {{{ */
    font-size: 10px
  } /* }}} */
  .navbar_pageseq { /* {{{ */
    float: right;
    font-size: 10px
  } /* }}} */
  div.mainbar { /* {{{ */
    background-color: #ff9900;
    color: #000000;
    font-size: 10px;
    border: thin solid #000000;
    padding: 6px;
  } /* }}} */
  div.bbname { /* {{{ */
    font-size: 11px;
    margin-bottom: 0.5em;
  } /* }}} */
  div.navbar { /* {{{ */
    background-color: #ff9900;
    color: #000000;
    font-size: 10px;
    border: thin solid #000000;
    padding: 6px;
  } /* }}} */
/* navigation bars }}} */
/* posts {{{ */
  #posts { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
    /*
    padding: 6px;
    border: thin solid #000000
    */
  } /* }}} */
  div.post { /* {{{ */
    margin-top: 6px;
    margin-bottom: 6px;
  } /* }}} */
  .post_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .post_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .post_header { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .5em;
    border: thin solid #000000;
  } /* }}} */
  .post_date { /* {{{ */
    border: thin solid #000000;
    padding: 4px;
    margin-bottom: 2px;
  } /* }}} */
  .post_seqnr { /* {{{ */
    /*
    border: thin solid #000000;
    padding: 4px;
    float: right;
    margin: 2px;
    */
  } /* }}} */
  .post_content { /* {{{ */
    margin-left: 146px;
  } /* }}} */
  .post_textbox { /* {{{ */
    border: thin solid #000000;
    padding: 4px;
    margin-bottom: 2px;
  } /* }}} */
  .post_text { /* {{{ */
    max-width: 50em;
    min-height: 18em;
  } /* }}} */
  .post_menu { /* {{{ */
    border: thin solid #000000;
    padding: 4px;
    margin-top: 2px;
  } /* }}} */
  .post_user_icon { /* {{{ */
    width: 130px;
    border: thin solid #000000;
    padding: 6px;
    float: left;
    position: relative;
    min-height: 100%;
  } /* }}} */
  .post_quote { /* {{{ */
    background-color: #99ccff;
    color: #000000;
    font-size: 10px;
    border: thin solid #000000;
    padding: 6px;
  } /* }}} */
  .post_permalink { /* {{{ */
    font-size: 10px;
  } /* }}} */
/* posts }}} */
/* topics {{{ */
  #topics { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  table.topics { /* {{{ */
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } /* }}} */
  td.topics { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
  } /* }}} */
  .topics_header { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .5em;
    border: thin solid #000000;
  } /* }}} */
  .topics_topped_caption { /* {{{ */
    font-size: 10px
  } /* }}} */
  .topics_title { /* {{{ */
    float: left;
  } /* }}} */
  .topics_pages { /* {{{ */
    float: right;
    font-size: 10px
  } /* }}} */
  .topics_snippet { /* {{{ */
    clear: both;
    font-size: 10px;
    color: gray;
  } /* }}} */
  .topics_lastpost { /* {{{ */
    font-size: 10px;
  } /* }}} */
  .folder_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .folder_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .icon_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .icon_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .title_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .title_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .author_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .author_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .postnum_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .postnum_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .views_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .views_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .lastpost_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .lastpost_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
/* topics }}} */
/* private messages {{{ */
  #pms { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  table.pms { /* {{{ */
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
  } /* }}} */
  td.pms { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;;
  } /* }}} */
  .pm_del_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_del_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_subj_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_subj_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_from_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_from_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_date_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_date_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_status_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_status_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_message_bg1 { /* {{{ */
    background-color: #ff9900;
  } /* }}} */
  .pm_message_bg2 { /* {{{ */
    background-color: #ffff00;
  } /* }}} */
  .pm_user_icon { /* {{{ */
    background-color: #ffff00;
    width: 10em;
    border: thin solid #000000;
    padding: 6px;
    float: left;
    margin-right: 10px;
  } /* }}} */
/* private messages }}} */
/* files {{{ */
  #files { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  #file_categories { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  #file_license { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  table.files { /* {{{ */
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } /* }}} */
  table.file_categories { /* {{{ */
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } /* }}} */
  td.files { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    background-color: #ff9900; /* XXX */
  } /* }}} */
  .file_header { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .5em;
  } /* }}} */
  .file_cat_header { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .5em;
  } /* }}} */
  .file_license_name { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .5em;
    border: thin solid #000000;
  } /* }}} */
  .file_license_filename { /* {{{ */
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    border: thin solid #000000;
  } /* }}} */
  .file_license_text { /* {{{ */
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    border: thin solid #000000;
  } /* }}} */
  .file_license_buttons { /* {{{ */
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 6px;
    border: thin solid #000000;
  } /* }}} */
/* files }}} */
/* music database {{{ */
  #mdb_albums { /* {{{ */
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 6px;
  } /* }}} */
  table.mdb_albums { /* {{{ */
    background-color: #000000;
    font-family: Verdana, Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  } /* }}} */
  td.mdb_albums { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    padding: .3em;
    background-color: #ff9900; /* XXX */
  } /* }}} */
  .mdb_albums_header { /* {{{ */
    font-family: Verdana, Arial, sans-serif;
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    font-weight: bold;
    padding: .3em;
  } /* }}} */
/* music database }}} */
/* general {{{*/
  .spacer { /* {{{ */
    clear: both;
  } /* }}} */
  img { /* {{{ */
    border: 0px;
  } /* }}} */
  a { /* {{{ */
    text-decoration: none;
    color: #000099;
  } /* }}} */
  a:visited { /* {{{ */
    text-decoration: none;
    color: #000099;
  } /* }}} */
  a:hover { /* {{{ */
    text-decoration: underline;
  } /* }}} */
  a.menuhl { /* {{{ */
    color: #000099;
  } /* }}} */
  a.menuhl:visited { /* {{{ */
    color: #000099;
  } /* }}} */
/* general }}} */
  .deleted_bg1 { /* {{{ */
    background-color: <%=dimmer(theme.altbg1, 80)%>;
  } /* }}} */
  .deleted_bg2 { /* {{{ */
    background-color: <%=dimmer(theme.altbg2, 80)%>;
  } /* }}} */
  span.author { /* {{{ */
    font-weight: bold;
  } /* }}} */
  span.menuhl { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    padding-left: 0.3em;
    padding-right: 0.3em;
  } /* }}} */
  span.curpage { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    padding-left: 0.3em;
    padding-right: 0.3em;
  } /* }}} */
  div.menuhl { /* {{{ */
    background-color: #ffff00;
    color: #000099;
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
  } /* }}} */
