<%
  nfiles = FiledbFile.count_approved
  latest = FiledbFile.latest(3)
%>
<ul>
  <li>
    <%=nfiles%> file condivisi fra appunti, domande e temi d'esame. I più
    recenti sono:
    <ul>
      <% latest.each do |i| %>
      <li style="padding-top: 0; padding-bottom: 0;">
        <%=link_to "#{i.name} (#{i.category.name.strip})", { :controller => :file, :action => :download, :id => i },
          { :style => 'display: block;' }%>
      </li>
      <% end %>
    </ul>
  </li>
</ul>
