<ul>
  <% forums.each do |i| %>
  <li class="forum_name" style="background-color: #ffe000;"><%#XXX hack!%>
    <%=link_image_to i[:image], base_url + i[:forum].to_s if i[:image]%>
    <h3><%=link_to i[:name], base_url + i[:forum].to_s%></h3>
  </li>
  <li style="padding-top: 0;">
    <%= render :partial => '/forum/latest_topics_old',
               :locals  => { :id => i[:forum], :n => i[:ntopics] } %>
  </li>
  <% end %>
</ul>
