<%
  base_url = '/portale/forum/forumdisplay.php?fid='
  forums = []
  i = 0
  Forum.subtree(Forum.find(25)).flatten.each do |f|
    if f.acl.can_read?(@user)
      forums[i] = {
        :name    => strip_tags(f.name),
        :forum   => f.id,
        :ntopics => 3,
      }
      i += 1
    end
  end
%><%=
  render :partial => '/welcome/forums_content_old',
         :locals  => { :forums => forums, :base_url => base_url }
%>
