<ul style="list-style: none; text-align: center; padding: 0;">
  <li style="display: inline;">
    <a href='http://www.studentibicocca.it/asb'><img src='http://www.studentibicocca.it/portale/forum/menu/img-menu/asb.gif' /></a>
  </li>
  <li style="display: inline;">
    <a href='http://www.studentibicocca.it/aperitivo'><img src='http://www.studentibicocca.it/portale/forum/menu/img-menu/drink.gif' /></a>
  </li>
  <li style="display: inline;">
    <a href='http://concorsofoto.studentibicocca.it/'><img src='http://www.studentibicocca.it/portale/forum/menu/img-menu/foto.gif' /></a>
  </li>
  <li style="display: inline;">
    <a target='_blank' onclick='newWindow(this.href, 'popup', 350, 350, 1, 1, 0, 0, 0, 1, 0); return false;' href='http://www.studentibicocca.it/portale/radio.html'><img src='http://www.studentibicocca.it/portale/forum/menu/img-menu/radio.gif' /></a>
  </li>
</ul>
