<%# vim: set ft=eruby nowrap:-%>
<ul id="latest_blog_posts" class="blog_posts">
  <%BlogPost.find_latest(:posts, 5).each do |i|%>
  <li>
    <%username = cleanup(i.user.username)
      title    = cleanup(i.title.to_s + ' (' + username + ')')
      title    = title.empty? ? content_tag('em', 'nessun titolo') : title-%>
    <%=link_to title, seo_blog_post_path(:username => username, :id => i, :slug => i.title.slugify.blank? ? '_' : i.title.slugify)%>
  </li>
  <%end%>
</ul>
