<% 
online = OnlineUser.online
guests = OnlineUser.guests_count
links  = []
online.each do |u|
  links << link_to(u.username, { :controller => 'user', :action => 'view',
    :id => u })
end
%>
<div class="online_users">
  Ci sono <strong><%=guests%></strong> visitatori e
  <strong><%=online.size%></strong> utenti registrati online:
  <%=links.join ', '%>
</div>
