<%# vim: set ft=eruby nowrap: -%>
<%=render :partial => '/blog_post/new'%>
<ul id="blog_post_list">
  <%posts.each do |p|-%>
  <li id="<%=domid(p)%>" class="<%=p.class.to_s.underscore%>">
    <%=render :partial => '/blog_post/editable_blog_post',
              :locals  => { :p => p }%>
  </li>
  <%end%>
</ul>
