-td_class = 'post_text' + (@post.moderator_post? ? ' moderator_post' : '')
%td{ :height => 120, :valign => "top", :colspan => 2, :class => td_class, :id => "post_text_#{@post.id}" }
  .maxpostwidth
    -remote_form_for(@post) do |f|
      =f.hidden_field :id
      =f.text_area :message
      -if @post.topic.can_moderate?(@user) && @user == @post.user
        =f.check_box :moderator_post
        intervento di moderazione
        %br
      =f.submit 'salva'
