%td{ :height => 120, :valign => "top", :colspan => 2, :class => p.moderator_post? ? 'moderator_post' : '', :id => "post_text_#{p.id}" }
  .maxpostwidth
    =BbText.new(p.message, p.cached_smileys).to_html(:controller => self)
    -unless p.cached_user.signature.blank? || p.cached_user.anonymized?
      %p &nbsp;
      ____________________
      %br
      .signature
        =cleanup(p.cached_user.signature).gsub("\n", '<br />')
    -if p.edituser && (p.updated_at - p.created_at > 2.minutes)
      .post_updated
        modificato da
        =p.updated_by ? cleanup(p.updated_by.username) : 'utente sconosciuto'
        ="il #{p.updated_at.strftime('%d/%m/%Y')} alle #{p.updated_at.strftime('%H.%M')}"
