<%
t      = @opts[:theme]
@topic                = @post.topic
@post.cached_user     = @post.user
@post.cached_smileys  = Smiley.all(@user)
@post.cached_can_edit = @post.can_edit?(@user)
%>
<div id="topic_view">
  <h3><%=link_to cleanup(@topic.title), @topic%></h3>
  <div id="post_list" class="<%=domid(@post.topic)%>">
    <table bgcolor="<%=t.bordercolor%>" cellspacing="1" width="100%" cellpadding="3">
      <%=render :partial => '/posts/post',
        :locals => { :p => @post, :flip => 0, :can_moderate => @topic.can_moderate?(@user), :can_post => @topic.can_post?(@user) }-%>
    </table>
  </div>
</div>
