-level  = 1   unless defined?(level) && level.is_a?(Fixnum)
-parent = nil unless defined?(parent) && parent.is_a?(Forum)
-unless forums.blank?
  %ul{ :class => "forum_list level_#{level}" }
    -forums.each do |f|
      -if f.can_read?(@user)
        %li.forum[f]{ :class => "level_#{level}" }
          .name= link_to(cleanup(f.name), edit_admin_forum_path(f), :class => 'forum_name', :name => domid(f))
          .description= cleanup(f.description)
          .moderators
            Moderato da:
            =f.moderators.collect { |i| link_to(cleanup(i.username), i) }.join(', ')
          =render :partial => 'forums', :object => f.children, :locals => { :level => level + 1, :parent => f }
-if is_adm?(@user)
  =link_to('nuovo forum', new_admin_forum_path(:parent => parent))
