#admin_forum_edit
  -form_for [ :admin, @forum ] do |f|
    .name
      =f.hidden_field :fup
      =label(:forum, :name, "Nome")
      =f.text_field :name
    .description
      =label(:forum, :description, "Descrizione")
      =f.text_area :description
    .moderators
      =label(:forum, :moderator, "Moderatori")
      =f.text_field :moderator
    .submit
      -if @forum.new_record?
        =f.submit 'crea'
      -else
        =f.submit 'modifica'
