<%=form_tag({ :action => 'create' }, { :method => 'post' })%>
  <strong>Nuovo smiley:</strong>
  <%=submit_tag 'aggiungi'%>
  <table>
    <tr>
      <td>
        Codice:
      </td>
      <td>
        <%=text_field_tag "code", '', { :size => 20 }%>
      </td>
    </tr>
    <tr>
      <td>
        URL:
      </td>
      <td>
        <%=text_field_tag "url", '', { :size => 60 }%>
      </td>
    </tr>
  </table>
</form>
<strong>Nota:</strong> il codice dello smiley deve essere nella forma 
<em>:codice:</em>
