<%
base_url = 'http://www.studentibicocca.it/portale/forum/images'
user_id  = @user ? @user.id : 0
if sm.url =~ /^http/
  url = sm.url
else
  url = URI.join(base_url, url)
end
img = image_tag(url, { :alt => sm.code })
%>
<td class="bg0" align="center"><%=h sm.code%></td>
<td class="bg0" align="center"><%=h sm.url%></td>
<td class="bg0" align="center"><%=img%></td>
<td class="bg0" align="center">
  <%if sm.user_id == user_id && user_id != 0%>
  <%=button_to_remote 'modifica', :update => "smiley_#{sm.id}",
    :url => edit_user_smiley_path(@user, sm), :method => :get%>
  <%else%>
  <%end%>
</td>
