<% bw    = 1 %>
<% ts    = 6 %>
<div id="navbar_top">
  <%= render :partial => '/layouts/navbar' %>
</div>
<div id="posts">
  <div class="post_header">
    <%= h @topic.title %>
  </div>
  <%= render :partial => "/post/post", :collection => @posts %>
</div>
<div id="navbar_bottom">
  <%= render :partial => '/layouts/navbar' %>
</div>
