    <div id="topmenu">
      <table width="97%" align="center">
        <tr>
          <td align="center">
            <a href="http://asb.studentibicocca.it"><img border="0" src="http://asb.studentibicocca.it/export/menu/img-menu/banner-asb2.png" width="200" height="60" alt="Sito Associazion Studenti Bicocca" /></a>
            <script type="text/javascript">
            //<![CDATA[
            StartAnim();
            //]]>
            </script>
            <a href="http://materiali.studentibicocca.it"><img border="0" src="http://asb.studentibicocca.it/export/menu/img-menu/appunti.png" width="40" height="60" alt="Appunti grauiti" /></a>
          </td>
        </tr>
      </table>
    </div>
