          <div id="login_box">
            <h2>Accesso</h2>
            <%if @user.is_a? User %>
            <div id="personal">
              <div class="welcome">
                Benvenuto <strong><%=h @user.username%></strong>!
              </div>
              <div class="logout">
                <button>Logout</button>
              </div>
            </div>
            <%else%>
            <div id="not_logged_in">
              <div id="login_inputs">
                <input id="f_username" type="text" name="username" class="text" />
                <input id="f_password" type="password" name="password" class="password" />
                <input type="submit" name="login" value="login" class="button" />
              </div>
              <div id="register_link">
                Sei un nuovo utente? <a href="#">Registrati qui.</a>
              </div>
            </div>
            <%end%>
            <div id="search">
              <input type="text" name="search" class="text" />
              <input id="f_search" type="submit" value="cerca" class="button" />
            </div>
          </div>
