<div id="top_banner">
  <img src="http://asb.studentibicocca.it/export/menu/img-menu/counseling.png" alt="" />
  <!--
  <ul>
    <li>Ci sono 18 file in attesa di approvazione.</li>
    <li>Hai 3 messaggi privati non letti.</li>
    <li>Hai 1 bozza non inviata</li>
  </ul>
  -->
</div>
