<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
  <title>ShackBoard</title>
  <%=
    # stylesheet_link_tag 'scaffold'
    # javascript_include_tag :defaults
  %>
  <style type="text/css">
    <%= render :partial => "/theme/inline_css" %>
  </style>
  </head>
  <body>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= render :partial => "/layouts/mainbar" %>
    <%= @content_for_layout %>
  </body>
<html>
