!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="shortcut icon" href="http://asb.studentibicocca.it/images/favicon.ico")
    -#=render :partial => '/common/stylesheets'
    =stylesheet_link_tag 'cms'
    %link(href="#{custom_css_path(:obj_class => @cms_page.class.to_s, :obj_id => @cms_page.id)}" media="screen" rel="stylesheet" type="text/css")
    =javascript_include_tag :defaults
    %title= page_title
  %body
    =calendar_date_select_includes nil
    =fb_connect_javascript_tag
    =init_fb_connect "XFBML"
    #main
      #cms
        #header
          %h1= cleanup(@cms_page.title)
          =render :partial => '/users/login_box'
          =render :partial => '/common/main_navbar'
          =render :partial => '/common/flashes'
        #content
          =yield
        #footer
          =render :partial => '/users/online'
    =render :partial => '/common/google_analytics'
