-lfu = @legacy_forum_uri
-t   = @opts[:theme]
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link(rel="shortcut icon" href="http://asb.studentibicocca.it/images/favicon.ico")
    =render :partial => '/common/stylesheets'
    =javascript_include_tag :defaults
    =render :partial => '/common/annoyances_01'
    %title= page_title || "Forum degli Studenti della Bicocca"
  %body
    =calendar_date_select_includes nil
    =fb_connect_javascript_tag
    =init_fb_connect "XFBML"
    %script(src="http://www.studentibicocca.it/portale/include/bannerad3.js" type="text/javascript")
    #main
      #forum
        #content_box
          =render :partial => '/users/login_box'
          =render :partial => '/common/annoyances_02'
          .spacer
          -if @location
            #breadcrumbs.breadcrumbs
              =page_trail
          .page-seq
            =page_seq
          =render :partial => '/common/flashes'
          =yield
          .page-seq
            =page_seq
          -if @location
            #breadcrumbs_bottom.breadcrumbs_bottom
              /=render :partial => '/common/breadcrumbs'
              =page_trail
          =render :partial => '/users/online'
    =render :partial => '/common/google_analytics'
